MONGO_URI=mongodb://mongo:27017/task_manager_users
JWT_SECRET=change_this_to_a_long_random_secret
JWT_EXPIRES_IN=24h
BCRYPT_SALT_ROUNDS=10
HTTP_PORT=3001
FRONTEND_RESET_PASSWORD_URL=http://localhost:5173/reset-password
MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_USER=your_mailtrap_user
MAILTRAP_PASS=your_mailtrap_pass
MAIL_FROM=Flexity <no-reply@flexity.local>